<div class="card mt-8">
    <div class="font-semibold text-xl mb-4 text-center">Status Vs Plan</div>
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5 cursor-pointer">
            <p-inputgroup>
                <p-button label="WTG Dispatch" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Nacel Dispatch" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Hub Dispatch" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Blade Dispatch" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="WTG Delivery" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Nacel Delivery" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Hub Delivery" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Blade Delivery" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Update" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Freeze"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"  />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
        
        
        
        <div class="w-full md:w-2/12">
            <p-divider layout="vertical" class="!hidden md:!flex"><b></b></p-divider>
            <p-divider layout="horizontal" class="!flex md:!hidden" align="center"><b></b></p-divider>
        </div>
        <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5 cursor-pointer">
            <p-inputgroup>
                <p-button label="Rotating Device" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Foundation" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="WTG Installation" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="MCC" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="MVC" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Pre-Com" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="Evid-Com" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="HOTO" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="STPT" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-button label="WTG Comments" />
                <p-button label="Upload"  severity="secondary" />
                <input pInputText placeholder="" />
                <p-inputgroup-addon>
                    <p-button label="Number" severity="secondary"/>
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button label="Date"  severity="secondary"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="warn"   />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button  severity="danger"  />
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
    </div>

    <div class="card flex flex-col gap-4">
        <div class="flex flex-wrap gap-6">
            <div class="flex justify-start flex-col-3 grow basis-0 gap-2">
                <p-button label="Home" severity="info" icon="pi pi-home" />
            </div>
            <div class="flex justify-end flex-col-3 grow basis-0 gap-2">
                <p-button label="Back" severity="danger"  icon="pi pi-arrow-left" [routerLink]="['/app/uikit/site-eng-Project-report']"/>
            </div>
        </div>
    </div>

    
      
</div>