<div class="card">
    <p-table #dt1 [value]="projectList" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" stripedRows  dataKey="id" [rows]="10"  [rowHover]="true" [showGridlines]="true"
     [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [paginator]="true" 
        responsiveLayout="scroll"><!-- [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']" -->
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text"  placeholder="Search keyword" /><!-- (input)="onGlobalFilter(dt1, $event)" -->
                </p-iconfield>
                <button pButton label="Add New Project" class="p-button-outlined mb-2" icon="pi pi-plus"
                (click)="addNewProject()"></button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Sl. No.</th>
                <th>P-code </th>
                <th>Project Description</th>
                <th>Site Name</th>
                <th>Customer</th>
                <th>City info</th>
                <th>unique Site-#No.</th>
                <th>State</th>
                <th>WTG QTY.</th>
                <th>Capacity</th>
                <th>PM</th>
                <th>Type1</th>
                <th>State Head</th>
                <th>Type2</th>
                <th>Construction Manager</th>
                <th>Type3</th>
                <th>Mechanical Lead</th>
                <th>Type4</th>
                <th>Start Date</th>
                <th>Complete Date</th>
                <th>Detail Status</th>
                <th>Status4 (P or S)</th>
                <th>Contractual CoD</th>
                <th>Expected CoD</th>
                <th>Actual CoD</th>
                <th>Delay</th>
                <th>Remarks</th>
            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{customer.SlNo}}</td>
                <td style="min-width: 7rem">{{customer.Pcode}}</td>
                <td style="min-width: 7rem">{{customer.FPD}}</td>
                <td style="min-width: 12rem">{{customer.SiteName}}</td>
                <td style="min-width: 7rem">{{customer.Customer}}</td>
                <td style="min-width: 7rem">{{customer.Cityinfo}}</td>
                <td style="min-width: 7rem">{{customer.uniqueS}}</td>
                <td style="min-width: 7rem">{{customer.State}}</td>
                <td style="min-width: 7rem">{{customer.WTGQTY}}</td>
                <td style="min-width: 7rem">{{customer.Capacity}}</td>
                <td style="min-width: 7rem">{{customer.PM}}</td>
                <td style="min-width: 7rem">{{customer.type1}}</td>
                <td style="min-width: 12rem">{{customer.StateHead}}</td>
                <td style="min-width: 7rem">{{customer.type2}}</td>
                <td style="min-width: 7rem">{{customer.ConstructionManager}}</td>
                <td style="min-width: 7rem">{{customer.type3}}</td>
                <td style="min-width: 7rem">{{customer.machinaclLead}}</td>
                <td style="min-width: 7rem">{{customer.type4}}</td>
                <td style="min-width: 10rem">{{customer.StartDate}}</td>
                <td style="min-width: 10rem">{{customer.CompleteDate}}</td>
                <td style="min-width: 7rem">{{customer.DetailStatus}}</td>
                <td style="min-width: 7rem">{{customer.Status4}}</td>
                <td style="min-width: 10rem">{{customer.ContractualCoD}}</td>
                <td style="min-width: 10rem">{{customer.ExpectedCoD}}</td>
                <td style="min-width: 10rem">{{customer.ActualCoD}}</td>
                <td style="min-width: 7rem">{{customer.Delay}}</td>
                <td style="min-width: 12rem">{{customer.Remarks}}</td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8" style="text-align: center;">No customers found.</td>
            </tr>
        </ng-template>
        
    </p-table>
</div>
<!-- Add New Project -->
<p-dialog header="Add Project" [resizable]="true" [draggable]="false" [modal]="true" [maximizable]="true" appendTo="body"
    [(visible)]="addProjectDialog" [style]="{ width: '70vw' }" [contentStyle]="{ height: '500px' }">

    <p-fluid>
        <div class="flex flex-col md:flex-row gap-8">
           
            <div class="md:w-full">

                <div class="card flex flex-col gap-4">
                    <div class="flex flex-wrap items-start gap-6">
                        <div class="flex flex-col gap-2">
                            <label for="P-code">P-code <span class="text-red-500">*</span></label>
                            <input pInputText id="P-code" type="text" />
                        </div>
                         <div class="flex flex-col gap-2">
                            <label for="customer">Customer <span class="text-red-500">*</span></label>
                            <input pInputText id="customer" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="customer">SPV <span class="text-red-500">*</span></label>
                            <input pInputText id="customer" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="customer">SPV GST<span class="text-red-500">*</span></label>
                            <input pInputText id="customer" type="text" />
                        </div>
                       
                        <div class="flex flex-col gap-2">
                            <label for="customer">SPV GST Address<span class="text-red-500">*</span></label>
                            <input pInputText id="customer" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="customer">SPV Bill to address<span class="text-red-500">*</span></label>
                            <input pInputText id="customer" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="customer">SPV ship to address<span class="text-red-500">*</span></label>
                            <input pInputText id="customer" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="desc">Project Description</label>
                            <textarea pTextarea id="description"  rows="1" cols="19" style="resize: none" ></textarea>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Cityinfo">City Info<span class="text-red-500">*</span> </label>
                            <input pInputText id="Cityinfo" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="State">State <span class="text-red-500">*</span></label>
                            <input pInputText id="State" type="text" />
                        </div>
                         <div class="flex flex-col gap-2">
                            <label for="unique">Zone <span class="text-red-500">*</span></label>
                            <input pInputText id="uniqueription" type="text">
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="WTGQTY">WTG QTY <span class="text-red-500">*</span></label>
                            <input pInputText id="WTGQTY" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="WTGQTY">WTG Type <span class="text-red-500">*</span></label>
                            <input pInputText id="WTGQTY" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Capacity">Capacity(MW) <span class="text-red-500">*</span></label>
                            <input pInputText id="Capacity" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="PM">PPA Type</label>
                            <input pInputText id="PM" type="text">
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type1">Grid Connectivity <span class="text-red-500">*</span></label>
                            <input pInputText id="type1" type="text" />
                        </div>
                        
                        <div class="flex flex-col gap-2">
                            <label for="StateHead">BD Manager <span class="text-red-500">*</span></label>
                            <input pInputText id="StateHead" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type2">Solution Manager <span class="text-red-500">*</span></label>
                            <input pInputText id="type2" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="ConstructionManager">Project Manager <span class="text-red-500">*</span></label>
                            <input pInputText id="ConstructionManager" type="text">
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type3">State Head <span class="text-red-500">*</span></label>
                            <input pInputText id="type3" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type3">Site Manager <span class="text-red-500">*</span></label>
                            <input pInputText id="type3" type="text" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type3">Start of First Anchor cage Supply </label>
                            <p-datepicker appendTo="body" />

                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type3">Start of First Component Supply </label>
                            <p-datepicker appendTo="body" />

                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type3">Start of First Site Activity </label>
                            <p-datepicker appendTo="body" />

                        </div>
                         <div class="flex flex-col gap-2">
                            <label for="type3">Start of First Commissioning Activity</label>
                            <p-datepicker appendTo="body" />

                        </div>
                        
                        <div class="flex flex-col gap-2">
                            <label for="MechanicalLead">Contractual COD</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="type4">Expected COD </label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2" style="min-width: 10rem;">
                            <label for="Start Date">Term Sheet Sign Date <span class="text-red-500">*</span> </label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="CompleteDate">Advance 1 Payment <span class="text-red-500">*</span></label>
                            <p-datepicker appendTo="body" />
                        </div>
                        
                        <div class="flex flex-col gap-2">
                            <label for="DetailStatus">Advance 2 Payment</label>
                             <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Status4">Advance 3 Payment</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Start Date">First LC Release Date</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="ContractualCoD">BG Release Date</label>
                            <p-datepicker appendTo="body" />
                        </div>
                       
                         <div class="flex flex-col gap-2">
                            <label for="ExpectedCoD">Supply Contract Sign Date</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Delay">Service Sign Date</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Remarks">LTSA Sign Date</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="Remarks">NTP Date</label>
                            <p-datepicker appendTo="body" />
                        </div>
                        
                    </div>
                    <div class="flex justify-center">
                        <p-button icon="pi pi-save" label="Submit" [fluid]="false" class="m-2"></p-button>
                        <p-button icon="pi pi-times" label="Cancel" [fluid]="false" severity="danger" class="m-2"></p-button>

                    </div>
                </div>
                
            </div>
        </div>
    </p-fluid>
</p-dialog>
<!-- Add New Project -->