<div class="card">
   <!--  <p-table #dt1 [value]="projectList" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" stripedRows  dataKey="id" [rows]="10"  [rowHover]="true" [showGridlines]="true"
     [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [paginator]="true" 
        responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text"  placeholder="Search keyword" />
                </p-iconfield>
                <button pButton label="Save " class="p-button-outlined mb-2" icon="pi pi-save"></button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Sl. No.</th>
                <th>P-code </th>
                <th>Full Project Description</th>
                <th>State</th>
                <th>Activity</th>
                <th>Project QTY</th>
                <th>COC Plan</th>
                <th>COC Actual </th>
                <th>COC LE </th>
                <th>Inspection Plan</th>
                <th>Inspection Actual </th>
                <th>Inspection LE</th>

                <th>MDCC Plan</th>
                <th>MDCC Actual </th>
                <th>MDCC LE</th>
                <th>Dispatch Plan</th>
                <th>Dispatch Actual </th>
                <th>Dispatch LE</th>
                <th>Delivery Plan</th>
                <th>Delivery Actual </th>
                <th>Delivery LE </th>
                <th>Foundation Plan</th>

                
                
            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{customer.SlNo}}</td>
                <td style="min-width: 7rem">{{customer.Pcode}}</td>
                <td style="min-width: 7rem">{{customer.FPD}}</td>
                <td style="min-width: 7rem">{{customer.State}}</td>
                <td style="min-width: 12rem">{{customer.SiteName}}</td>
                <td style="min-width: 7rem"><input type="text" pInputText  placeholder="Enter QTY"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8" style="text-align: center;">No customers found.</td>
            </tr>
        </ng-template>
        
    </p-table> -->

        <p-table #dt1 [value]="projectList" dataKey="SlNo" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" [rows]="10"
        stripedRows [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
        [expandedRowKeys]="expandedRowsKeys" >
    
        <!-- Caption -->
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Search keyword" />
                </p-iconfield>
                <button pButton label="Save" class="p-button-outlined mb-2" icon="pi pi-save"></button>
            </div>
        </ng-template>
    
        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th> <!-- Expand icon column -->
                <th>Sl. No.</th>
                <th style="width: 7rem">P-code</th>
                <th>Full Project Description</th>
                <th style="min-width: 10rem">State</th>
                <th style="min-width: 10rem">Activity</th>
                <th style="min-width: 10rem">Project QTY</th>
              <!--   <th style="min-width: 10rem">COC Plan</th>
                <th style="min-width: 10rem">COC Actual </th>
                <th style="min-width: 10rem">COC LE </th>
                <th style="min-width: 10rem">Inspection Plan</th>
                <th style="min-width: 10rem">Inspection Actual </th>
                <th style="min-width: 10rem">Inspection LE</th>
                <th style="min-width: 10rem">MDCC Plan</th>
                <th style="min-width: 10rem">MDCC Actual </th>
                <th style="min-width: 10rem">MDCC LE</th> -->
                <th style="min-width: 10rem">Dispatch Plan</th>
                <th style="min-width: 10rem">Dispatch Actual </th>
                <th style="min-width: 10rem">Dispatch LE</th>
                <th style="min-width: 10rem">DeliveryPlan</th>
                <th style="min-width: 10rem">Delivery Actual </th>
                <th style="min-width: 10rem">Delivery LE </th>
                <!-- <th style="min-width: 10rem">Foundation Plan</th> -->
            </tr>
        </ng-template>
    
        <!-- Body -->
        <ng-template pTemplate="body" let-project let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="project"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                </td>
                <td>{{ project.SlNo }}</td>
                <td style="min-width: 7rem">{{ project.Pcode }}</td>
                <td>{{ project.FPD }}</td>
                <td>{{ project.State }}</td>
                <td>{{ project.SiteName }}</td>
                <td>{{ project.WTGQTY }}</td>
                <td colspan="10"></td>
            </tr>
        </ng-template>
    
        <!-- Expanded Row -->
        <ng-template pTemplate="rowexpansion" #expandedrow let-project>
            <tr *ngFor="let exp of valuesofEXP">
                <td colspan="7" style="text-align: center;">
                    {{exp.name}}
                </td>
                <!-- <td>
                    <div>
                        <label class="block mb-2 font-semibold">Project_QTY</label>
                        <input type="text" pInputText placeholder="Enter QTY" class="w-full" />
                    </div>
                </td> -->
                <!-- <td>
                    <div>
                        <label class="block mb-2 font-semibold">COC Plan</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td styleClass="min-width:10rem">
                    <div>
                        <label class="block mb-2 font-semibold">COC Actual</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
                    <div>
                        <label class="block mb-2 font-semibold">COC LE</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
                    <div>
                        <label class="block mb-2 font-semibold">Inspection Plan</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
                    <div>
                        <label class="block mb-2 font-semibold">Inspection Actual</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
                    <div>
                        <label class="block mb-2 font-semibold">Inspection LE</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                
                <td>
                    <div>
                        <label class="block mb-2 font-semibold">MDCC Plan</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">MDCC Actual</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">MDCC LE</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td> -->
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Dispatch Plan</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Dispatch Actual</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Dispatch LE</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Delivery Plan</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Delivery Actual</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Delivery LE</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <!-- <td>
            
                    <div>
                        <label class="block mb-2 font-semibold">Foundation Plan</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td> -->
                <!-- <td colspan="6">
                                <div class="p-4">
                                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                        
                                        
                                       
                                        
                                    </div>
                                </div>
                            </td> -->
            </tr>
        </ng-template>
    
        <!-- Empty message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" class="text-center">No projects found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- <div class="card">

    <p-table #dt1 [value]="projectList" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" stripedRows  dataKey="id" [rows]="10"  [rowHover]="true" [showGridlines]="true"
     [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [paginator]="true" 
        responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text"  placeholder="Search keyword" />
                </p-iconfield>
                <div>
                   
                    <p-datepicker [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" placeholder="Select Assign Actual Date"/> &nbsp;
                    <p-select [options]="clusterManager"  optionLabel="name" placeholder="Select Cluster Manager" class="w-full md:w-56" />

                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Sl. No.</th>
                <th>P-code </th>
                <th>Full Project Description</th>
                <th>Site Name</th>
                <th>Customer</th>
                <th>City info</th>
                <th>unique Site-#No.</th>
                <th>State</th>
                <th>WTG QTY.</th>
                <th>Capacity</th>
                <th>PM</th>
                <th>Type1</th>
                <th>State Head</th>
                <th>Type2</th>
                <th>Construction Manager</th>
                <th>Type3</th>
                <th>Mechanical Lead</th>
                <th>Type4</th>
                <th>Start Date</th>
                <th>Complete Date</th>
                <th>Detail Status</th>
                <th>Status4 (P or S)</th>
                <th>Contractual CoD</th>
                <th>Expected CoD</th>
                <th>Actual CoD</th>
                <th>Delay</th>
                <th>Remarks</th>
            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{customer.SlNo}}</td>
                <td style="min-width: 7rem">{{customer.Pcode}}</td>
                <td style="min-width: 7rem">{{customer.FPD}}</td>
                <td style="min-width: 12rem">{{customer.SiteName}}</td>
                <td style="min-width: 7rem">{{customer.Customer}}</td>
                <td style="min-width: 7rem">{{customer.Cityinfo}}</td>
                <td style="min-width: 7rem">{{customer.uniqueS}}</td>
                <td style="min-width: 7rem">{{customer.State}}</td>
                <td style="min-width: 7rem">{{customer.WTGQTY}}</td>
                <td style="min-width: 7rem">{{customer.Capacity}}</td>
                <td style="min-width: 7rem">{{customer.PM}}</td>
                <td style="min-width: 7rem">{{customer.type1}}</td>
                <td style="min-width: 12rem">{{customer.StateHead}}</td>
                <td style="min-width: 7rem">{{customer.type2}}</td>
                <td style="min-width: 7rem">{{customer.ConstructionManager}}</td>
                <td style="min-width: 7rem">{{customer.type3}}</td>
                <td style="min-width: 7rem">{{customer.machinaclLead}}</td>
                <td style="min-width: 7rem">{{customer.type4}}</td>
                <td style="min-width: 10rem">{{customer.StartDate}}</td>
                <td style="min-width: 10rem">{{customer.CompleteDate}}</td>
                <td style="min-width: 7rem">{{customer.DetailStatus}}</td>
                <td style="min-width: 7rem">{{customer.Status4}}</td>
                <td style="min-width: 10rem">{{customer.ContractualCoD}}</td>
                <td style="min-width: 10rem">{{customer.ExpectedCoD}}</td>
                <td style="min-width: 10rem">{{customer.ActualCoD}}</td>
                <td style="min-width: 7rem">{{customer.Delay}}</td>
                <td style="min-width: 12rem">{{customer.Remarks}}</td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8" style="text-align: center;">No customers found.</td>
            </tr>
        </ng-template>
        
    </p-table>
</div> -->