<p-toast />
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; " class="shadow-5"><!-- background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%) -->
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 shadow-5 " style="border-radius: 23px">
                <div class="text-center mb-8">
                   <img src="images/envision-group-vector-logo.png" alt="Logo" height="10" width="150" class="shrink-0 mx-auto">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium "></div>
                    <span class="text-muted-color font-medium">Sign in to continue</span>
                </div>

                <form [formGroup]="loginForm">
                    <div>
                        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                        <input pInputText formControlName="userName" id="email1" type="text" placeholder="Email address" class="w-full md:w-[30rem] mb-2"  />
                        <div *ngIf="(validation || lf.userName.touched) && lf.userName.invalid">
                            <div class="text-red-500" *ngIf="lf.userName.hasError('required')">Email Is Mandatory.</div>
                            <div class="text-red-500" *ngIf="lf.userName.hasError('userName')">Invalid email format.</div>
                        </div>
                        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
                        <p-password id="password1" formControlName="password"  placeholder="Password" [toggleMask]="true" styleClass="mb-2" [fluid]="true" [feedback]="false"></p-password>
                        <div *ngIf="(validation || lf.password.touched) && lf.password.invalid">
                            <div class="text-red-500" *ngIf="lf.password.hasError('required')">Password Is Mandatory.</div>
                        </div>
                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <div class="flex items-center">
                                <p-checkbox  id="rememberme1" binary class="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            
                        </div>
                        <p-button label="LogIn" (click)="login()" styleClass="w-full" ></p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>