<div class="card">
    <p-table #dt1 [value]="projectList" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" stripedRows  dataKey="id" [rows]="10"  [rowHover]="true" [showGridlines]="true"
     [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [paginator]="true" 
        responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text"  placeholder="Search keyword" />
                </p-iconfield>
                <button pButton label="Save " class="p-button-outlined mb-2" icon="pi pi-save"></button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Sl. No.</th>
                <th>P-code </th>
                <th>Full Project Description</th>
                <th>State</th>
                <th>Activity</th>
                <th>Project QTY</th>
                <th>Foundation Actual </th>
                <th>Foundation LE</th>
                <th>Installation Plan</th>
                <th>Installation Actual </th>
                <th>Installation LE</th>
                <th>InstallationPlan</th>

                <th>InstallationActual </th>
                <th>InstallationLE</th>
                <th>Pre-CommPlan</th>
                <th>Pre-CommActual </th>
                <th>Pre-CommLE</th>
                <th>CommissioningPlan</th>
                <th>CommissioningActual </th>
                <th>CommissioningLE</th>
                <th>STPTPlan</th>
                <th>STPTActual </th>

                <th>STPTLE</th>
                <th>HOTOPlan</th>
                <th>HOTOActual </th>
                <th>HOTOLE</th>
                


                
                
            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{customer.SlNo}}</td>
                <td style="min-width: 7rem">{{customer.Pcode}}</td>
                <td style="min-width: 7rem">{{customer.FPD}}</td>
                <td style="min-width: 7rem">{{customer.State}}</td>
                <td style="min-width: 12rem">{{customer.SiteName}}</td>
                <td style="min-width: 7rem"><input type="text" pInputText  placeholder="Enter QTY"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
                <td style="min-width: 10rem"><p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"/></td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8" style="text-align: center;">No customers found.</td>
            </tr>
        </ng-template>
        
    </p-table>
</div>


<!-- <p-fluid>
    <div class="flex flex-col md:flex-row gap-8">
        <div class="md:w-full">
            <div class="card flex flex-col gap-4">
                
                <div>
                    <p-accordion value="0">
                        <p-accordion-panel value="0">
                            <p-accordion-header>Delivery Report</p-accordion-header>
                            <p-accordion-content>
                                <p-table #dt1 [value]="projectList" [paginator]="true"
                                    [rowsPerPageOptions]="[5, 10, 20]" stripedRows dataKey="id" [rows]="10"
                                    [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [paginator]="true"
                                    responsiveLayout="scroll">
                                    <ng-template #caption>
                                        <div class="flex justify-between items-center flex-column sm:flex-row">
                                            <p-iconfield iconPosition="left" class="mr-auto">
                                                <p-inputicon>
                                                    <i class="pi pi-search"></i>
                                                </p-inputicon>
                                                <input pInputText type="text"
                                                    placeholder="Search keyword" />
                                            </p-iconfield>

                                        </div>
                                    </ng-template>
                                    <ng-template #header>
                                        <tr>
                                            <th>Sl. No.</th>
                                            <th>Delivery Date </th>
                                            <th>Hub</th>
                                            <th>Remarks</th>
                                            <th>MVC Return</th>
                                            
                                        </tr>
                                    </ng-template>
                                    <ng-template #body let-customer>
                                        <tr>

                                        </tr>
                                    </ng-template>
                                    <ng-template #emptymessage>
                                        <tr>
                                            <td colspan="8" style="text-align: center;">No Record found.</td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </p-accordion-content>
                        </p-accordion-panel>

                        <p-accordion-panel value="1">
                            <p-accordion-header>Install</p-accordion-header>
                            <p-accordion-content>
                                <p-table #dt1 [value]="projectList" [paginator]="true"
                                    [rowsPerPageOptions]="[5, 10, 20]" stripedRows dataKey="id" [rows]="10"
                                    [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [paginator]="true"
                                    responsiveLayout="scroll">
                                    <ng-template #caption>
                                        <div class="flex justify-between items-center flex-column sm:flex-row">
                                            <p-iconfield iconPosition="left" class="mr-auto">
                                                <p-inputicon>
                                                    <i class="pi pi-search"></i>
                                                </p-inputicon>
                                                <input pInputText type="text"
                                                    placeholder="Search keyword" />
                                            </p-iconfield>

                                        </div>
                                    </ng-template>
                                    <ng-template #header>
                                        <tr>
                                            <th>Sl. No.</th>
                                            <th>Delivery Date </th>
                                            <th>Hub</th>
                                            <th>Remarks</th>
                                            <th>MVC Return</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template #body let-customer>
                                        <tr>

                                        </tr>
                                    </ng-template>
                                    <ng-template #emptymessage>
                                        <tr>
                                            <td colspan="8" style="text-align: center;">No Record found</td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </p-accordion-content>
                        </p-accordion-panel>

                        <p-accordion-panel value="2">
                            <p-accordion-header>Commession</p-accordion-header>
                            <p-accordion-content>
                                <p-table #dt1 [value]="projectList" [paginator]="true"
                                    [rowsPerPageOptions]="[5, 10, 20]" stripedRows dataKey="id" [rows]="10"
                                    [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [paginator]="true"
                                    responsiveLayout="scroll">
                                    <ng-template #caption>
                                        <div class="flex justify-between items-center flex-column sm:flex-row">
                                            <p-iconfield iconPosition="left" class="mr-auto">
                                                <p-inputicon>
                                                    <i class="pi pi-search"></i>
                                                </p-inputicon>
                                                <input pInputText type="text"
                                                    placeholder="Search keyword" />
                                            </p-iconfield>

                                        </div>
                                    </ng-template>
                                    <ng-template #header>
                                        <tr>
                                            <th>Sl. No.</th>
                                            <th>Delivery Date </th>
                                            <th>Hub</th>
                                            <th>Remarks</th>
                                            <th>MVC Return</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template #body let-customer>
                                        <tr>

                                        </tr>
                                    </ng-template>
                                    <ng-template #emptymessage>
                                        <tr>
                                            <td colspan="8" style="text-align: center;">No Record found</td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </p-accordion-content>
                        </p-accordion-panel>
                    </p-accordion>
                </div>
            </div>

        </div>
    </div>
</p-fluid> -->